[Unit]
Description=Start apt-cacher-ng server Docker image
After=docker.service
Requires=docker.service

[Service]
Restart=always
Type=notify
ExecStart=/usr/lib/apt-cacher-server.sh
ExecStop=/usr/bin/docker exec pvtesting/ubuntu2404:apt-cacher-ng-server stop

[Install]
WantedBy=multi-user.target