[Unit]
Description=Start apt-cacher-ng server Docker image
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/lib/apt-cacher-ng-server/apt-cacher-ng-server.sh %n

[Install]
WantedBy=multi-user.target