[Unit]
Description=Set mtu on device
Wants=network-online.target
After=network-online.target network.target system-netctl.service

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/setmtu
ExecStart=/usr/bin/ip link set dev %i mtu ${%i}

[Install]
WantedBy=multi-user.target
