[Unit]
Description=Set mtu on device
Wants=network-online.target
After=network-online.target network.target system-netctl.service

[Service]
Type=oneshot
ExecStart=/bin/confpvsdrnetadapter.sh %i

[Install]
WantedBy=multi-user.target
